{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="SRP Labs: College Administration Portal">
    <meta name="author" content="Maharshi, Yogesh, Jatin">
    <meta name="copyright" content="SRP labs">

    <title>React DJ</title>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
    	.sweet-alert-content {
    		text-align: center;
    	}
    </style>
</head>

<body>
    {% csrf_token %}
    <div id="app"></div>
    <script type="text/javascript" src="/static/bundles/js-923ddb5ba3da6d12e5f1.js" ></script>
    <script type="text/javascript" src="/static/bundles/vendor-923ddb5ba3da6d12e5f1.js" ></script>
</body>

</html>
